.social-button2 {
    text-align: right;
    margin-left: 150px;
    padding-left: 160px;
    margin-top: 50px;
    padding: 5px;
    justify-content: left;
}

.room-section1 {
    padding: 10%;
}

.border-rooms {
    border: 1px solid #009DFF;
    width: 20%;
    background-color: #009DFF;
}

.room-container {
    /* position: relative; */
    display: flex;
    gap: 2rem;
    /* margin-right: 10%; */
    padding: 5%;
}

.room-container h3 {
    padding-top: 20%;
}

.room-container p {
    padding-top: 2%;
    justify-content: center;
}

.video1 {
    padding: 10%;
    /* transition: transform .2s; */

}

.title {
    padding-top: 20%;
    padding-left: 30%;
}

.booking-section {
    /* margin-left: 50%; */
    /* display: flex; */
    /* gap: 5rem; */
    width: 100%;
    justify-content: center;
    display: flex;
    margin-left: 40%;
    gap: 5rem;
    margin: auto;
    padding: 4rem;


}

.booking section h1 {
    margin-left: 10%;


}

.book-here {
    /* border:1px solid  #009DFF */
    background-color: #009DFF;
    width: 100%;
    font-size: large;
    color: white;
    border: none;
    text-align: center;
    padding: 12px 26px;
    border: 1px solid transparent;
    color: #fff;
    /* margin-left: 40%; */
    margin-top: 20%;
    margin-right: -20%;


}

.youtube {
    background-image: url(./assets/css/video-bg.png);
    width: 50vw;
    background-size: cover;
    height: 100vh;
    margin-left: 25%;
    padding: 25%;
}

.youtube a {
    color: white;
    width: 50px;
    height: 50px;
    padding-right: 40%;
}


    
.book-here-container {
    width: 40%
}

.lorem {
  margin-left: 7%;


}